<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Maper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoduo.dao.MoneyDao">


    <select id="canAfford" resultType="BigDecimal">
        select curMoney - #{cost} 'left' from money where ID = #{userID}
    </select>

    <update id="payOrReturn">
        update money set curMoney=curMoney-#{deltaMoney} where ID=#{userID}
    </update>

    <select id="getUserCurMoney" resultType="BigDecimal">
        select curMoney from money where ID=#{userID}
    </select>
</mapper>